html, body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.title{
    text-align: center;
    color: purple;
    margin: auto;
}

.container{
    text-align: center;
    margin: auto;
}
.channel{
    text-size-adjust: 15px;
}

