<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수정</title>
</head>
<body>
    <form action="" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <h4>제목: </h4>
        <input type="text" name="titleImg" value="">
        <br>
        <h4>사진: </h4>
        <input type="file" name="fileImg" accept="image/*">
        <br>
        <h4>날짜: </h4>
        <input type="text" name="dateImg">
        <br>
        <h4>설명: </h4>
        <input type="text" name="summImg">
        <input class="btn btn-dark" type="submit" value="추가">
    </form>
</div>
</body>
</html>