{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리나갤</title>
    <link rel="stylesheet" href="{% static 'deco.css' %}">
</head>
<body>
    {% block title %}
    <div class="Title">
        <h1>🍀루리나의 갤러리🍀</h1>
        <p>진자 엄청 열심히 만들엇어요</p>
    </div>
    {% endblock title %}
    <div class="create">
        <a href="{% url 'create' %}" style="color: rgb(235, 231, 210); background-color: saddlebrown;">추가하기</a>
    </div>
    <div class="base">
{% block contents %}
    
    {% for i in home_key.all %}
    <div class="container">
        <img src="{{i.image.url}}" width="380px">
        <div class="title">{{i.title}}</div>  
        <div style="color:  rgb(235, 231, 210);" class="info">
            <p>{{i.summ}}</p>
            <p>{{i.date}}</p> 
            {{home_key.id}}
        <a href="{% url 'change' i.id %}" style="color: rgb(235, 231, 210);">수정하기</a><br>
        <a href="{% url 'delete' i.id %}" style="color: rgb(235, 231, 210);">삭제하기</a><br>
        </div>
        
    </div>
    {% endfor %}
{% endblock contents %}
    </div>

</body>
</html>