@font-face{
    font-family: 'Noto Sans KR';
    src: url(Noto Sans KR.oft) format('truetype');
}

html, body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Noto Sans KR;
    position: relative;
    background-color: rgb(235, 231, 210);
}

.Title{
    height: 100px;
    align-content: center;
    text-align: center;
    color: saddlebrown;
}

.base{
    display: flex;
    flex-direction: row;
    position: relative;
}

.container{
    position: relative;
    left: 50px;
    height: 10%;
    margin: 10px;
    padding: 20px;
    
}

.title{
    position: relative;
    text-align: center;
    
}