@font-face{
    font-family: 'Noto Sans KR';
    src: url(Noto Sans KR.oft) format('truetype');
}

html, body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Noto Sans KR;
    position: relative;
    background-color: rgb(235, 231, 210);
}

.Title{
    height: 100px;
    margin-top: 50px;
    align-content: center;
    text-align: center;
    color: saddlebrown;
}

.title{
    position: relative;
    text-align: center;
}
    
.base{
    display: flex;
    flex-direction: row;
    position: relative;

}

.container{
    position: relative;
    left: 50px;
    height: 10%;
    margin: 10px;
    padding: 20px;
    
}

.container:hover:not(.active){
    background-color: #4CAF50;
    color: white;
}

.info{
    cursor: default;
}

.info:before{
    font-weight: bold;
}


@-webkit-keyframes fadeIn {
	0% { 
		opacity:0; 
		transform: scale(0.6);
	}
	100% {
		opacity:100%;
		transform: scale(1);
	}
}
 
@keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:100%; }
}​ 